.footer {
	background-color: burlywood;
	padding: 15px 25px;
	text-align: right;
	display: flex;
	justify-content: space-between;
}
.footer__first {
	cursor: pointer;
	background: none;
	border: none;
	font-weight: 700;
	text-decoration: underline;
	font-style: italic;
}
.footer__first:hover {
	text-decoration: none;
}
.footer__next,
.footer__finish {
	background: linear-gradient(#138dd4,#007ac2);
	border: none;
	padding: 7px 34px 8px;
	color: #fff;
	border-radius: 4px;
	font-weight: 700;
	margin: 0 0 0 10px;
	cursor: pointer;
	border: 2px solid #eceef0;
}
.footer__next:hover,
.footer__finish:hover {
	background: linear-gradient(#007ac2,#138dd4);
}
.footer__prev {
	background: linear-gradient(#939394,#7f7f80);
	border: none;
	padding: 7px 34px 8px;
	color: #fff;
	border-radius: 4px;
	font-weight: 700;
	margin: 0 0 0 10px;
	cursor: pointer;
	border: 2px solid #eceef0;
}
.footer__prev:hover {
	background: linear-gradient(#7f7f80,#939394);
}
