.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c9d1d5;
  background-color: #f5f6f8;
  border-radius: 5px 5px 0 0;
  height: 63px;
}
.header__ico {
  margin-right: 15px;
}
.header__ico img {
  display: block;
}
.header__name {
  color: #222;
}
.header__item {
  padding: 0 15px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
  font-size: 12px;
  color: #c3ccd3;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
/* .header__item:hover,
.header__item.active {
  background-color: #e7e7e7;
} */
.header__item.active {
  background-color: #dbe3e6;
  color: #40484e;
}
.header__item.active:after {
  background-position: 0 0;
}
.header__item_4 {
	padding-top: 0;
	padding-bottom: 0;
}
.header__item_4:before {
  content:'';
  background: #f5f6f8 url(https://vektornpo.ru/sites/all/themes/vektor/images/config-finish.png) no-repeat 41% 50%;
  width: 23px;
  height: 28px;
  display: inline-block;
}
.header__title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #c9d1d5;
  background-color: #dbe3e6;
}
.header__ico {
  margin-right: 15px;
}
.header__ico img {
	display: block;
}
.header__name {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #222;
}
.header__item::after {
	content: "";
	background: #f5f6f8 url(https://vektornpo.ru/sites/all/themes/vektor/images/array.png) no-repeat -54px 0;
	width: 27px;
	height: 62px;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
}
.header__item.header__title:after {
  display: none;
}

.header__title {
  display: flex;
  align-items: center;
  background-color: #dbe3e6;
  border-right: 1px solid #c9d1d5;
  cursor: default;
  padding: 0 15px;
  height: 100%;
}
.header__title:hover {
  background-color: #dbe3e6;
}


.header__item_4 {
  text-indent: -999999px;
}
.header__item_4:after {
  content: '';
  background: #f5f6f8 url(https://vektornpo.ru/sites/all/themes/vektor/images/config-finish.png) no-repeat 0 0;
  width: 23px;
  height: 28px;
}
