.zimniiPaket .block__title {
	display: flex;
	justify-content: space-between;
}
.zimniiPaket .block__item {width: 243px;}
.zimniiPaket .block__item {width: 243px;}
.zimniiPaket .toggle {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.zimniiPaket #zimniiPaketCheck:checked + .toggle label::before {
  left: calc(100% - 16px);
}
.zimniiPaket.block:not(.block_disabled) #zimniiPaketCheck:checked + .toggle label {
  background: rgb(0, 132, 209) none repeat scroll 0% 0%;
  border-color: rgb(75, 145, 186);
  color: #edecec;
}
.zimniiPaket.block:not(.block_disabled) #zimniiPaketCheck:checked + .toggle label span {
  left: 12px;
}
