.item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.item__input {
	position: absolute;
  right: 0;
  bottom: 0;
	margin: 0;
	padding: 0;
}
.item__input {
  display: none;
}
.item__hd {
	display: flex;
	align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.item__title {
	font-weight: 700;
	font-size: 13px;
}
.item__cont {
	flex-grow: 1;
  display: flex;
}
.item__list {
	display: flex;
  flex-grow: 1;
}
.item__item {
  display: flex;
  flex-grow: 1;
  .toggle__label {
      position: absolute;
      top: 2px;
      right: 2px;
  }
}
.item__label {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        .item__image {
            filter: grayscale(0);
        }
        .item__name,
        .item__subname {
            color: #378fe2;
        }
        .item__image {}
    }
  // display: block;
  // padding: 10px;
  // width: 100%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.item__image {
  filter: grayscale(100%);
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__text {
	flex-grow: 1;
// 	display: flex;
// 	align-items: center;
}
.item__name {
	font-weight: 700;
	font-size: 13px;
  color: #616161;
  transition: all 0.2s;
}
.item__subname {
	font-weight: 400;
	font-size: 13px;
	color: #616161;
  transition: all 0.2s;
}

.active {
  .item__label {
      border-color: #378fe2;
  }
  .item__image {
    filter: grayscale(0);
    border-color: #378fe2 !important;
  }
  .item__name,
  .item__subname {color: #378fe2;}
}

.disabled {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        cursor: no-drop;
    }
  .item__image {
    filter: grayscale(100%) opacity(30%);
  }
  .item__name,
  .item__subname {color: #c9c9c9;}
  .item__label {cursor: default;}
  .item__item:hover {
    .item__image {
      filter: grayscale(100%) opacity(30%);
    }
    .item__name,
    .item__subname {color: #c9c9c9;}
  }
}

/*
.item_row {}
.item_row .item__item {margin-right: 5px;}
.item_row .item__item:last-of-type {margin-right: 0;}



.item_col {}
.item_col .item__list {
  flex-direction: column;
}
.item_col .item__item {margin-bottom: 10px;}
.item_col .item__item:last-of-type {margin-bottom: 0;}
*/

.vacuum-pump {
  width: 541px;
  margin-right: 20px;
  .item__item {
    text-align: center;
    flex: 1;
    margin-right: 5px;
    &:last-child {margin-right: 0;}
  }
  .item__label {
    display: flex;
    min-height: 86px;
  }
  .item__text {
    padding: 10px 0;
  }
}

.pump-drive {
  width: 179px;
  .item__list {
    flex-direction: column;
  }
  .item__item {
    margin-bottom: 5px;
    &:last-child {margin-bottom: 0;}
  }
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__text {
    padding: 0 10px;
  }
}

.opening-bottom {
  width: 312px;
  margin-right: 20px;
  .item__item {
    flex: 1;
    margin-right: 5px;
    &:last-child {margin-right: 0;}
  }
  .item__label {}
  .item__image {
    border-bottom: 1px solid #e3e3e3;
    height: 75px;
  }
  .item__text {
    padding: 10px;
  }
}


.extras-neck {
  width: 194px;
  margin-right: 20px;
  .item__list {
    flex-direction: column;
  }
  .item__item {
    margin-bottom: 5px;
    &:last-child {margin-bottom: 0;}
  }
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__image {
    border-right: 1px solid #e3e3e3;
    width: 107px;
    height: 100%;
    margin-right: 10px;
    flex: 0 0 auto;
  }
}


.securing-tank {
    width: 194px;
  .item__list {
    flex-direction: column;
  }
  .item__item {
    margin-bottom: 5px;
    &:last-child {margin-bottom: 0;}
  }
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__image {
    border-right: 1px solid #e3e3e3;
    margin-right: 10px;
    width: 89px;
    height: 100%;
    flex: 0 0 auto;
  }
}

.service-area {
  width: 356px;
  margin-right: 20px;
  .item__label {
    display: flex;
    flex-direction: column;
  }
  .item__item {
    flex: 1;
    margin-right: 5px;
    &:last-child {margin-right: 0;}
  }
  .item__image {
    border-bottom: 1px solid #e3e3e3;
    height: 90px;
  }
  .item__text {
  	flex-grow: 1;
  	display: flex;
  	align-items: center;
  	padding: 10px;
  }
}


.lighting {
  width: 172px;
  margin-right: 20px;
  .item__list {
    flex-direction: column;
  }
  .item__item {
    margin-bottom: 5px;
    flex: 1;
    &:last-child {margin-bottom: 0;}
  }
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__image {
  	border-right: 1px solid #f5f5f5;
    margin-right: 10px;
    width: 96px;
    height: 100%;
  }
}

.heating-from-sun {
    width: 172px;
  .item__list {
    flex-direction: column;
  }
  .item__label {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .item__item {
    margin-bottom: 5px;
    flex: 1;
    &:last-child {margin-bottom: 0;}
  }
}

.fire-extinguisher-mounting {
	width: 214px;
	margin-right: 20px;
    order: 5;
  .item__list {
  	display: flex;
  	flex-direction: column;
  }
  .item__item {
    margin-bottom: 5px;
    flex: 1;
    &:last-child {margin-bottom: 0;}
  }
  .item__text {
    padding: 10px;
  }
}

.execution {
  width: 243px;
  margin-right: 20px;
  order: 4;
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__image {
  	border-right: 1px solid #f5f5f5;
    width: 92px;
    height: 100%;
    padding: 0 5px;
  }
  .item__text {
    padding: 10px;
  }
}

.calibration {
  width: 243px;
  order: 6;
  .item__label {
    display: flex;
    align-items: center;
  }
  .item__image {
  	border-right: 1px solid #f5f5f5;
    width: 92px;
    height: 100%;
    padding: 0 5px;
  }
  .item__text {
    padding: 10px;
  }
}

.engine {
    width: 180px;
    margin-right: 20px;
    order: 1;
    .item__list {
        flex-direction: column;
    }
    .item__item {
        margin-bottom: 5px;
        min-height: 45px;
        &:last-child {margin-bottom: 0;}
    }
    .item__label {
        display: flex;
        align-items: center;
    }
    .item__text {
        padding: 0 10px;
    }
}

.spare_wheel {
  width: 295px;
  order: 3;
  .item__item {
    flex: 1;
    margin-right: 5px;
    &:last-child {margin-right: 0;}
  }
  .item__label {}
  .item__image {
    border-bottom: 1px solid #e3e3e3;
    height: 75px;
  }
  .item__text {
    padding: 10px;
  }
}

.tool_box {
    width: 160px;
    margin-right: 20px;
    order: 4;
    .item__list {
        flex-direction: column;
    }
    .item__item {
        margin-bottom: 5px;
        // height: 45px;
        &:last-child {margin-bottom: 0;}
    }
    .item__label {
        display: flex;
        align-items: center;
    }
    .item__image {
      border-right: 1px solid #e3e3e3;
      width: 70px;
      height: 100%;
      margin-right: 10px;
      flex: 0 0 auto;
    }
    .item__text {
        padding: 0 10px;
    }
}

.anti_roll_bar {
    width: 189px;
    width: 156px;
    margin-right: 20px;
    order: 5;
    .item__list {
        flex-direction: column;
    }
    .item__item {
        margin-bottom: 5px;
        height: 45px;
        &:last-child {margin-bottom: 0;}
    }
    .item__label {
        display: flex;
        align-items: center;
    }
    .item__text {
        padding: 0 40px 0 10px;
    }
}
// .content_mv {
//     .anti_roll_bar {
//         width: 156px;
//         margin-right: 15px;
//     }
// }

.berth {
    margin-right: 20px;
    width: 225px;
    order: 2;
    .item__label {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .item__image {
        border-bottom: 1px solid #f5f5f5;
        width: 100%;
        height: 75px;
    }
    .item__text {
        padding: 10px 0;
    }
}
// .content_mv {
//     .berth {
//         width: 200px;
//     }
// }

.winter_package {
    width: 384px;
    order: 6;
    .item__list {
        flex-wrap: wrap;
        margin-right: -5px;
        margin-bottom: -5px;
    }
    .item__item {
        margin-right: 5px;
        width: 25%;
        margin-bottom: 5px;
    }
    .item__label {
        padding: 0 10px;
        // height: 40px;
        display: flex;
        align-items: center;
    }
}
// .content_mv {
//     .winter_package {
//         width: 415px;
//     }
// }
