.loading {
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: url('/loading.svg');
    background-repeat: no-repeat;
    text-indent: -999999px;
}
