.toggle {
	display: flex;
	// .toggle__input {display: none;}
}
.toggle__label {cursor: pointer;}
/* .toggle label span {
	position: absolute;
  top: 1px;
  left: 20px;
  transition: all 0.3s 0.1s;
  font-weight: 400;
} */
.toggle__label {
	border: 1px solid #b9bec1;
	border-radius: 4px;
	background: rgb(206, 216, 221) none repeat scroll 0% 0%;
	display: inline-block;
  height: 18px;
	font-size: 12px;
	color: #716e6e;
  position: relative;
  transition: all 0.3s 0.1s;
	padding: 0 10px 0 20px;
	&::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		background-color: #fff;
		height: 16px;
		width: 16px;
		border: 1px solid #acacae;
		border-radius: 4px;
		transition: all 0.3s;
	}
	span {
		position: relative;
		top: 1px;
	}
}
.toggle__input:checked + .toggle__label::before {
  left: calc(100% - 16px);
}
.toggle__input:checked + .toggle__label {
  background: rgb(0, 132, 209) none repeat scroll 0% 0%;
  border-color: rgb(75, 145, 186);
  color: #edecec;
	padding: 0 20px 0 10px;
}
.toggle__input:checked + .toggle__label span {
  left: 12px;
}
/* .block:not(.block_disabled) .toggle .checkbox:checked + label {
  background: rgb(0, 132, 209) none repeat scroll 0% 0%;
  border-color: rgb(75, 145, 186);
  color: #edecec;
}
.block:not(.block_disabled) .toggle .checkbox:checked + label span {
  left: 12px;
} */
